/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
}

/* 2. Remove default margin */
* {
    margin: 0;
}

body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input, button, textarea, select {
    font: inherit;
}

/* 7. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
    text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}

/*
  9. Create a root stacking context
*/
#root, #__next {
    isolation: isolate;
}

:root {
    --primary-color: rgb(61, 61, 122);
}

a {
    color: black;
    transition: all .1s;
    &:hover {
        text-decoration: underline;
    }
    &:visited {
        color: var(--primary-color);
    }
}

a.hoverable {
    padding: 2px;
    &:hover {
        background-color: rgba(from var(--primary-color) r g b / .1 );
    }
}

.header-root {
    padding: 1rem 1rem 0 1rem;
    width: 100%;
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    align-items: center;
    border-bottom: .125rem solid gold;
    font-family: sans-serif;

    & > .logo {
        font-size: 3rem;
        color: var(--primary-color);
        margin: 0;
        font-family: sans-serif;
        font-weight: bolder;
        line-height: 1;
        user-select: none;
        -webkit-user-select: none;
        text-decoration: none;
        cursor: pointer;
    }

    & .search {
        flex-grow: 1;
        max-width: 20rem;
        border: 1px solid black;
        font-size: 1.25rem;
        padding: .125rem;
        margin-bottom: .25rem;
        outline-color: var(--primary-color);

        &:active, &:focus {
            border-color: var(--primary-color);
            outline-color: var(--primary-color);
            box-shadow: none;
            -webkit-box-shadow: none;
        }
    }

    & > .menu-wrapper {
        display: flex;
        align-items: center;
        gap: 1rem;
        color: var(--primary-color);
        font-size: 1.25rem;
        font-weight: bolder;
        line-height: 1.125;

        & > * {
            cursor: not-allowed;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    @media screen and (max-width: 768px) {
        flex-direction: column;
        gap: 1rem;
    }
}

body {
    max-width: 100%;
    max-height: 100svh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    border-top: rgba(0, 0, 0, .25) 1px solid;

    @media screen and (max-width: 768px) {
        flex-direction: column;
        justify-content: center;
    }

    & > ul {
        display: flex;
        gap: 1rem;
        font-size: .75rem;
        justify-content: center;
        color: var(--primary-color);
        list-style-type: none;
        font-family: sans-serif;

        & > li {
            cursor: not-allowed;

            &:hover {
                text-decoration: underline;
            }
        }

        @media screen and (max-width: 768px) {
            display: none;
        }
    }

    & > p {
        font-family: sans-serif;
        display: block;
        font-size: .8rem;

        & > a {
            color: var(--primary-color);
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.default-layout {
    display: flex;
}

.sidebar-nav {
    display: flex;
    flex-direction: column;
    border-right: rgba(0, 0, 0, .25) 1px solid;
    width: 20%;
    overflow: scroll;
    max-height: 100svh;
    padding: 1rem 1rem 15rem;
    min-width: 20rem;

    @media screen and (max-width: 768px) {
        display: none;
    }

    & > h2 {
        font-size: 1.1rem;
        font-family: sans-serif;
        margin-bottom: 1rem;
        border-bottom: 1px solid black;
        padding: .25rem;
    }

    & > ul {
        list-style-type: none;
        display: flex;
        gap: 0;
        flex-direction: column;
        font-family: sans-serif;

        & > li {
            cursor: not-allowed;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

main {
    flex-grow: 1;
    overflow: hidden;
}

.content {
    overflow: scroll;
    max-height: 100svh;
    width: 100%;
    padding: 1rem 1rem 15rem;
}

.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 5px;
    transform-origin: left;
    background-color: var(--primary-color);
    transform: scaleX(0);
    transition: all .75s;
}

.home, .collection-page {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    font-family: sans-serif;

    & .collection-wrapper {
        display: flex;
        justify-content: start;
        gap: 2rem;
        flex-wrap: wrap;

        & > a {
            width: 125px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
        }
    }
}

.category-page, .subcategory-page {
    display: flex;
    flex-direction: column;
    gap: 3rem;

    & > .category-wrapper {
        & > h2 {
            font-size: 1.5rem;
            font-family: sans-serif;
            margin-bottom: 1rem;
            border-bottom: 4px solid rgba(0, 0, 0, .25);
            padding: .25rem;
        }
    }

    & ul {
        padding-inline-start: 0;
        display: flex;
        gap: 1rem;
        flex-wrap: wrap;
        justify-content: start;
    }

    & li {
        width: 250px;
        background-color: rgba(0, 0, 0, .05);
        border: 1px solid rgba(0, 0, 0, .1);
        list-style: none;

        & > a {
            padding: .5rem;
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 1rem;
        }

    }
}

/*
			<section class="product-page">
				<h1 class="title">{product.data.name}</h1>
				<div class="image-description">
					<img src={product.data.image_url} loading="eager" />
					<p>{product.data.description}</p>
				</div>
				<p class="price">{product.data.price}</p>
				<form class="cart-form" method="post" action={"/cart/add/" + product.data.slug}>
					<button class="add-to-cart">Add to cart</button>
				</form>
				<div class="related"

 */

.product-page {

    & .title {
        color: var(--primary-color);
        font-size: 3rem;
        font-family: sans-serif;
        margin-bottom: 1rem;
    }

    & .image-description {
        display: flex;
        gap: 2rem;
        align-items: center;
        font-size: 1.25rem;
    }

    & .price {
        font-size: 1.5rem;
        font-family: sans-serif;
        margin-bottom: 1rem;
    }

    & .cart-form {

    }

    & .add-to-cart {
        padding: .5rem;
        font-size: 1.25rem;
        font-family: sans-serif;
        background-color: var(--primary-color);
        color: white;
        border: none;
        /*cursor: pointer;*/
        transition: all .1s;
        pointer-events: none;

        &:hover {
            background-color: rgba(from var(--primary-color) r g b / .75 );
        }
    }

    & .related {
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        gap: 2rem;

        & > .grid {
            max-width: 75%;
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
            gap: 1rem;

            & li {
                width: 250px;
                background-color: rgba(0, 0, 0, .05);
                border: 1px solid rgba(0, 0, 0, .1);
                list-style: none;

                & > a {
                    padding: .5rem;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 1rem;
                }
            }
        }
    }
}

.search-dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: white;
    border: 1px solid black;
    padding: 1rem;
    display: none;
}

.search-result {
    display: block;
    padding: .5rem;
}